<ion-content [fullscreen]="true">
  <div class="bg-gray-400 h-full">
    <img src="../../../assets//wave.svg" alt="wave">
    <p class="text-3xl font-bold text-center">MediBook</p>

    <div class="mt-5 px-5 py-5 mx-5 bg-white bg-opacity-10 rounded-xl">

      <form class="font-medium text-base mt-5">

        <p class="font-semibold text-2xl">Verificar identidad</p>

        <p class="mb-5 mt-5 text-justify">
          Escribe el código de 6 dígitos que hemos enviado a su correo
        </p>

        <div class="flex gap-x-2.5 justify-center text-base font-medium">
          <input type="text"
            class="w-11 py-2.5 bg-transparent ring-2 ring-inset ring-gray-600 outline-none focus:ring-2 focus:ring-inset focus:ring-[#28A061] transition-all duration-500 rounded-lg text-center">

          <input type="text"
            class="w-11 py-2.5 bg-transparent ring-2 ring-inset ring-gray-600 outline-none focus:ring-2 focus:ring-inset focus:ring-[#28A061] transition-all duration-500 rounded-lg text-center">

          <input type="text"
            class="w-11 py-2.5 bg-transparent ring-2 ring-inset ring-gray-600 outline-none focus:ring-2 focus:ring-inset focus:ring-[#28A061] transition-all duration-500 rounded-lg text-center">

          <input type="text"
            class="w-11 py-2.5 bg-transparent ring-2 ring-inset ring-gray-600 outline-none focus:ring-2 focus:ring-inset focus:ring-[#28A061] transition-all duration-500 rounded-lg text-center">
          
            <input type="text"
            class="w-11 py-2.5 bg-transparent ring-2 ring-inset ring-gray-600 outline-none focus:ring-2 focus:ring-inset focus:ring-[#28A061] transition-all duration-500 rounded-lg text-center">
            
          <input type="text"
            class="w-11 py-2.5 bg-transparent ring-2 ring-inset ring-gray-600 outline-none focus:ring-2 focus:ring-inset focus:ring-[#28A061] transition-all duration-500 rounded-lg text-center">
        </div>

        <div class="flex gap-x-5 columns-2 mt-5">
          <button (click)="createAccount()" type="button" class="w-full py-2.5 rounded-lg border-gray-600 border-2 border-solid hover:border-2 hover:border-solid hover:border-gray-500 transition-all duration-500 hover:bg-gray-500">
            Cancelar
          </button>

          <button type="submit" class="w-full py-2.5 rounded-lg bg-[#28A061] hover:bg-green-700 transition-all duration-700">
            Siguiente
          </button>
        </div>
      </form>
    </div>
   </div> 
</ion-content>