<ion-content [fullscreen]="true">
  <div class="bg-gray-400 h-full">
    <img src="../../assets/wave.svg" alt="wave">
    <div class="flex-grow items-center text-center mt-7">
      <p class="text-4xl font-bold">MediBook</p>
      
      <img class="flex w-64 mx-auto mt-10" src="../../assets/svg/medicine.svg" alt="">
      
      <p class="text-base font-medium text-justify mt-7 px-5">Hola, somos tu aliado en salud. Con nuestra app podrás acceder a citas y diagnósticos online de forma fácil y segura.</p>
      
      <button (click)="navigateLogin()" type="button" class="inline-flex items-center justify-center gap-x-1.5 py-2.5 px-7 mt-7 text-base font-medium rounded-lg bg-[#28A061] hover:bg-green-700 transition-all duration-700">
      Empezar
      <ion-icon class="stroke-2 w-5 h-5" name="arrow-forward-outline"></ion-icon>
      </button>
    </div>
  </div>
</ion-content>
