<div class="flex flex-col px-5 pb-5 font-sans">
  <p class="pb-2.5 text-xl font-semibold">Datos</p>

  <div class="space-y-5">

    <div class="flex items-center rounded-lg bg-black bg-opacity-10 p-2.5 shadow-lg">
      <div class="flex h-12 w-12 items-center justify-center rounded-full border border-orange-100 bg-blue-50">
        <ion-icon class="w-7 h-7 text-orange-400" name="reader-outline"></ion-icon>
      </div>

      <div class="ml-4">
        <h4 class="font-semibold">Citas</h4>
        <p class="mt-2 text-base font-normal text-gray-700">201</p>
      </div>
    </div>

    <div class="flex items-center rounded-lg bg-black bg-opacity-10 p-2.5 shadow-lg">
      <div class="flex h-12 w-12 items-center justify-center rounded-full border border-red-100 bg-blue-50">
        <ion-icon class="w6 h-6 text-orange-400" name="receipt-outline"></ion-icon>
      </div>

      <div class="ml-4">
        <h4 class="font-semibold">Medicamentos recetados</h4>
        <p class="mt-2 text-base font-normal text-gray-500">100</p>
      </div>
    </div>

    <div class="flex items-center rounded-lg bg-black bg-opacity-10 p-2.5 shadow-lg">
      <div class="flex h-12 w-12 items-center justify-center rounded-full border border-indigo-100 bg-blue-50">
        <ion-icon class="w-7 h-7 text-orange-400" name="medical-outline"></ion-icon>
      </div>

      <div class="ml-4">
        <h4 class="font-semibold">Vacunas</h4>
        <p class="mt-2 text-base font-normal text-gray-700">25</p>
      </div>
    </div>

    <div class="flex items-center rounded-lg bg-black bg-opacity-10 p-2.5 shadow-lg">
      <div class="flex h-12 w-12 items-center justify-center rounded-full border border-indigo-100 bg-blue-50">
        <ion-icon class="w-7 h-7 text-orange-400" name="body-outline"></ion-icon>
      </div>

      <div class="ml-4">
        <h4 class="font-semibold">Exámenes médicos</h4>
        <p class="mt-2 text-base font-normal text-gray-700">100</p>
      </div>
    </div>

  </div>
</div>
