<ion-content color="medium" [fullscreen]="true">
  <div>
    <img src="../../assets/wave.svg" alt="wave">
    <div class="flex-grow items-center text-center mt-7">

      <div class="flex items-center justify-center gap-x-1.5">
        <img class="w-16 h-16 p-2.5 rounded-lg bg-[#242424]" src="../../assets/logo-app.png" alt="logo-app">
        <p class="text-4xl font-bold">MediBook</p>
      </div>

      <img class="flex w-64 mx-auto mt-10 animate-pulse" src="../../assets/svg/medicine.svg" alt="">

      <p class="text-base font-medium text-justify mt-7 px-10">Hola, somos tu aliado en salud. Con nuestra app podrás acceder a citas y diagnósticos online de forma fácil y segura.</p>

      <button [routerLink]="['/login']" routerLinkActive="router-link-active"  type="button" class="inline-flex items-center justify-center gap-x-1.5 py-2.5 px-7 mt-7 text-base font-medium rounded-lg bg-[#28A061] hover:bg-green-700 transition-all duration-700">
      Empezar
      <ion-icon class="stroke-2 w-5 h-5" name="arrow-forward-outline"></ion-icon>
      </button>
    </div>
  </div>
</ion-content>
