<nav class="w-72 flex-col">
  <div class="h-screen overflow-hidden">
    <app-progress />

    <div
      class="flex items-center py-5 pl-2.5 bg-gradient-to-br from-gray-800 to-gray-400 rounded-br-2xl text-slate-200"
    >
      <svg
        aria-hidden="true"
        role="img"
        class="h-16 w-16 text-indigo-600 rounded-full"
        width="32"
        height="32"
        preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 256 256"
      >
        <path
          fill="currentColor"
          d="M172 120a44 44 0 1 1-44-44a44 44 0 0 1 44 44Zm60 8A104 104 0 1 1 128 24a104.2 104.2 0 0 1 104 104Zm-16 0a88 88 0 1 0-153.8 58.4a81.3 81.3 0 0 1 24.5-23a59.7 59.7 0 0 0 82.6 0a81.3 81.3 0 0 1 24.5 23A87.6 87.6 0 0 0 216 128Z"
        ></path>
      </svg>
      <div *ngIf="user">
        <p class="text-base font-medium">
          {{ user?.nombre + " " + user?.apellido | titlecase }}
        </p>
        <p class="text-base font-medium">{{ user?.email }}</p>
      </div>
    </div>

    <div class="pl-5 pt-5">
      <ul class="space-y-4">
        <li
          class="flex space-x-2 items-center hover:text-indigo-600 cursor-pointer"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 17V7m0 10a2 2 0 01-2 2H5a2 2 0 01-2-2V7a2 2 0 012-2h2a2 2 0 012 2m0 10a2 2 0 002 2h2a2 2 0 002-2M9 7a2 2 0 012-2h2a2 2 0 012 2m0 10V7m0 10a2 2 0 002 2h2a2 2 0 002-2V7a2 2 0 00-2-2h-2a2 2 0 00-2 2"
            />
          </svg>
          <p
            class="text-lg font-medium"
            [routerLink]="['/home']"
            routerLinkActive="router-link-active"
          >
            Home
          </p>
        </li>
        <li
          class="flex space-x-2 items-center hover:text-indigo-600 cursor-pointer"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 17V7m0 10a2 2 0 01-2 2H5a2 2 0 01-2-2V7a2 2 0 012-2h2a2 2 0 012 2m0 10a2 2 0 002 2h2a2 2 0 002-2M9 7a2 2 0 012-2h2a2 2 0 012 2m0 10V7m0 10a2 2 0 002 2h2a2 2 0 002-2V7a2 2 0 00-2-2h-2a2 2 0 00-2 2"
            />
          </svg>
          <p
            class="text-lg font-medium"
            [routerLink]="['/profile']"
            routerLinkActive="router-link-active"
          >
            Perfil
          </p>
        </li>

        <li
          class="flex space-x-2 items-center hover:text-indigo-600 cursor-pointer"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 10V3L4 14h7v7l9-11h-7z"
            />
          </svg>
          <p
            class="text-lg font-medium"
            [routerLink]="['/agendar-cita']"
            routerLinkActive="router-link-active"
          >
            Agendar cita
          </p>
        </li>

        <li
          class="flex space-x-2 items-center hover:text-indigo-600 cursor-pointer"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 10V3L4 14h7v7l9-11h-7z"
            />
          </svg>
          <p
            class="text-lg font-medium"
            [routerLink]="['/login']"
            routerLinkActive="router-link-active"
          >
            Antecentes
          </p>
        </li>
      </ul>
    </div>

    <button
      (click)="logout()"
      type="button"
      class="pl-5 pt-5 gap-x-2 flex items-center hover:text-indigo-600 text-lg font-medium"
    >
      <ion-icon class="w-6 h-6" name="log-out-outline"></ion-icon>
      Logout
    </button>
  </div>
</nav>
