<div class="mx-5 my-2.5 shadow-lg bg-black bg-opacity-10 rounded-xl">

  <form [formGroup]="formChangePassword" (submit)="ChangePassword(formChangePassword.value)" class="flex-grow px-5 py-5 items-center font-medium text-base">

    <p class="font-semibold text-lg">Cambiar la contraseña</p>

    <div class="relative mt-5 flex items-center rounded-lg border-2 border-solid border-gray-600 hover:border-[#28A061] transition-all duration-500">
      <ion-icon class="absolute flex pl-3 text-gray-700 w-5 h-5" name="lock-closed-outline"></ion-icon>
      <input type="password" autofocus formControlName="password"
            placeholder="Contraseña actual"
            class="out-input py-2.5 w-full outline-none placeholder:text-gray-700  bg-transparent pl-10">
    </div>

    <div class="mt-1" *ngIf="formChangePassword.get('password')?.invalid && formChangePassword.get('password')?.touched">
      <span *ngIf="formChangePassword.get('password')?.hasError('required')" class="text-red-700"> 
        Contraseña requerida
      </span>
    </div>

    <div class="mt-1 text-red-700" *ngIf="formChangePassword.get('password')?.hasError('minlength')">
      5 caracteres mínimo
    </div>

    <div class="h-1.5 rounded-lg mt-5 bg-gray-700 w-full"></div>

    <div class="relative mt-5 flex items-center rounded-lg border-2 border-solid border-gray-600 hover:border-[#28A061] transition-all duration-500">
      <ion-icon class="absolute flex pl-3 text-gray-700 w-5 h-5" name="lock-closed-outline"></ion-icon>
      <input type="password" formControlName="password"
            placeholder="Contraseña nueva"
            class="out-input py-2.5 w-full outline-none placeholder:text-gray-700 bg-transparent pl-10">
    </div>

    <div class="mt-1 text-red-700" *ngIf="formChangePassword.get('password')?.hasError('minlength')">
      5 caracteres mínimo
    </div>

    <div class="relative mt-5 flex items-center rounded-lg border-2 border-solid border-gray-600 hover:border-[#28A061] transition-all duration-500">
      <ion-icon class="absolute flex pl-3 text-gray-700 w-5 h-5" name="lock-closed-outline"></ion-icon>
      <input type="password" formArrayName="password"
            placeholder="Confirmar nueva contraseña"
            class="out-input py-2.5 w-full outline-none placeholder:text-gray-700 bg-transparent pl-10">
    </div>

    <div class="mt-1 text-red-700" *ngIf="formChangePassword.get('password')?.hasError('minlength')">
      5 caracteres mínimo
    </div>

    <button type="button" class="py-2.5 w-full mt-5 text-base font-semibold rounded-lg bg-[#28A061] hover:bg-green-700 transition-all duration-700">
      Confirmar
    </button>
  </form>
</div>
