<ion-content color="medium" [fullscreen]="true">
  <div>
    <img src="../../../assets//wave.svg" alt="wave">
    
    <div class="flex items-center justify-center gap-x-1.5 mb-7">
      <img class="w-16 h-16 p-2.5 rounded-lg bg-[#242424]" src="../../assets/logo-app.png" alt="logo-app">
      <p class="text-4xl font-bold">MediBook</p>
    </div>

    <div class="mt-5 px-5 py-5 mx-5 bg-white bg-opacity-10 rounded-xl">

      <form class="font-medium text-base">

        <p class="font-semibold text-2xl">Comprobar identidad</p>

        <p class="mb-5 mt-5 text-justify">
          Para verificar que esta es tu dirección de correo electrónico, completa el campo con tu email y haz clic en "Enviar código" para recibir tu código
        </p>

        <div class="relative flex items-center rounded-lg border-2 border-solid border-gray-600 hover:border-[#28A061] transition-all duration-500">
          <ion-icon class="absolute flex pl-3 text-gray-600 w-5 h-5" name="mail-outline"></ion-icon>
          <input type="text" autofocus placeholder="Ingrese correo"
            class="out-input py-2.5 w-full outline-none placeholder:text-slate-200 placeholder:font-medium placeholder:text-base bg-transparent pl-10">
        </div>

        <div class="flex gap-x-5 columns-2 mt-7">
          <button [routerLink]="['/login']" routerLinkActive="router-link-active"  type="button" class="w-full py-2.5 rounded-lg border-gray-600 border-2 border-solid hover:border-2 hover:border-solid hover:border-gray-500 transition-all duration-500 hover:bg-gray-500">
            Cancelar
          </button>

          <button type="submit" class="w-full py-2.5 rounded-lg bg-[#28A061] hover:bg-green-700 transition-all duration-700">
            Obtener código
          </button>
        </div>
      </form>
    </div>
   </div> 
</ion-content>