<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-textarea labelPlacement="floating" class="sin-borde custom" value="Lorem Ipsum">
        <div slot="label">Comments <ion-text color="danger">(Required)</ion-text></div>
      </ion-textarea>
    </ion-item>
  </ion-list>

  <ion-textarea class="custom"
  placeholder="Enter text, leave the textarea, come back, and type to clear"
  [clearOnEdit]="true"
></ion-textarea>

<ion-input class="mt-6" label="Outline input" label-placement="floating" placeholder="Enter text"></ion-input>

</ion-content>
